body .dark {  background: #000000; }

.dark :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }

/**** Nav ***/
.dark #header {  background: #000000; } 

.dark #header nav a{  color: #ffffff; }

/**** Banner ****/
.dark .banner-area { background: #171717; }

.dark .banner-area :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .banner-area :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .banner-area :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; } 

/**** About Area ****/
.dark  .home-about-area{ background: #000000; }  

.dark .home-about-area :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .home-about-area :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .home-about-area :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }

/**** Timeline Area ****/
.dark .timeline { background: #171717; }

.dark .timeline ul li .content{ background-color: #000000 !important; }

.dark .timeline li :any(h1, h2, h3, h4, h5, h6, p, p b) { color: #ffffff; }

/*.dark .timeline ul li:before { border: 5px solid #000000; }
.dark .timeline ul li { background: #000000; }*/

/**** Service Area ****/
.dark  .services-area { background: #171717;  } 
.dark .menu-content :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .menu-content :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .menu-content :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
 
.dark .single-services :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .single-services :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .single-services :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }

/**** portfolio Area ****/
.dark  .portfolio-area { background: #000000; }

.dark .portfolio-area .filters li{ color: #ffffff;  }
 
.dark .portfolio-area .filters ul li:after { background: #8490ff; } 
 
.dark  .portfolio-area .single-portfolio .p-inner :any(h1, h2, h3, h4, h5, h6, p, div) { color: #ffffff; }
.dark  .portfolio-area .single-portfolio .p-inner :-webkit-any(h1, h2, h3, h4, h5, h6, p, div) { color: #ffffff; }
.dark  .portfolio-area .single-portfolio .p-inner :-moz-any(h1, h2, h3, h4, h5, h6, p, div) { color: #ffffff; }

/**** testimonial Area ****/

.dark  .testimonial-area { background: #171717;  }

.dark  .testimonial-area .single-testimonial { background: #000000; }

.dark  .testimonial-area .single-testimonial .desc ,.dark  .testimonial-area .single-testimonial .desc h4{ color: #ffffff !important;  }

.dark  .testimonial-area .lnr-arrow-up, .dark  .testimonial-area .lnr-arrow-down { background-color: #171717 !important; color: #ffffff !important;  }

/**** Footer Area ****/

.dark  .footer-area :any(input,p){ color: #ffffff !important; }
.dark  .footer-area :-webkit-any(input,p){ color: #ffffff !important; }
.dark  .footer-area :-moz-any(input,p){ color: #ffffff !important; }

.dark  .footer-area :any(input){ background: #000000 !important; }
.dark  .footer-area :-webkit-any(input){ background: #000000 !important; }
.dark  .footer-area :-moz-any(input){ background: #000000 !important; }
 
/**** Contact Area ****/
.dark  .contact-page-area { background: #000000; }

.dark .contact-page-area :any(input,textarea){ background: #171717; color: #ffffff; } 
.dark .contact-page-area :-webkit-any(input,textarea){ background: #171717; color: #ffffff; } 
.dark .contact-page-area :-moz-any(input,textarea){ background: #171717; color: #ffffff; } 

.dark .contact-page-area :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .contact-page-area :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .contact-page-area :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }

/**** Contact Area ****/
.dark .post-content-area,.dark .top-category-widget-area{ background: #000000; }
.dark .post-content-area .widget-wrap{ background: #171717;  border: 1px solid #171717;}

.dark .contact-page-area :any(input,textarea){ background: #171717; color: #ffffff; } 
.dark .contact-page-area :-webkit-any(input,textarea){ background: #171717; color: #ffffff; } 
.dark .contact-page-area :-moz-any(input,textarea){ background: #171717; color: #ffffff; } 

.dark .contact-page-area :any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .contact-page-area :-webkit-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
.dark .contact-page-area :-moz-any(h1, h2, h3, h4, h5, h6, p) { color: #ffffff; }
